<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudVault | Features</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <h2>☁ CloudVault</h2>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/logoutbtn" id="logoutBtn">Logout</a></li>
</nav>

<section class="hero">
    <h1>Our Features</h1>
    <p>Everything you need to manage your files.</p>
</section>

<section class="features">

    <div class="card">
        <h2>📂 Upload Files</h2>
        <p>Upload any file securely.</p>
    </div>

    <div class="card">
        <h2>⬇ Download</h2>
        <p>Download files anytime.</p>
    </div>

    <div class="card">
        <h2>🗑 Delete</h2>
        <p>Delete unwanted files.</p>
    </div>

    <div class="card">
        <h2>🔒 Secure Storage</h2>
        <p>Your files are protected.</p>
    </div>

</section>

<footer>
    © 2026 CloudVault
</footer>

</body>
</html>