<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudVault | Register</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-container">

    <div class="login-box">

        <h1>☁ CloudVault</h1>
        <h2>Create Account</h2>

        <form id="registerForm">

            <input type="text" id="name" placeholder="Full Name" required>

            <input type="email" id="email" placeholder="Email Address" required>

            <input type="password" id="password" placeholder="Password" required>

            <input type="password" id="confirmPassword" placeholder="Confirm Password" required>

            <button type="submit">
                Register
            </button>

        </form>

        <p>
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</div>

<script type="module" src="{{ url_for('static', filename='firebase.js') }}"></script>

</body>
</html>